:root
{
    --navbar-height: 5.26rem;
    --navbar-padding-v: .7rem;
    --navbar-padding-h: 1.5rem;
    --navbar-line-height: calc( var(--navbar-height) - 2 * var(--navbar-padding-v) );
}

#modile-burger-nav
{
    display:none;
    text-align: center;
    position: relative;
    height: var(--navbar-line-height);
    margin-right: var(--navbar-padding-v);
    vertical-align: top;
}

#modile-burger-nav > img
{
    width: 4rem;
}


@font-face
{
    font-family: mukta-light;
    src: url(../fonts/Mukta-ExtraLight.ttf);
}

@font-face
{
    font-family: mukta-bold;
    src: url(../fonts/Mukta-ExtraBold.ttf);
    font-weight: bold;
}

body
{
    background-color: #0f0f0f;
}

/* Nav Bar */
.navbar
{
    padding: var(--navbar-padding-v) var(--navbar-padding-h);
    line-height: var(--navbar-line-height);
}

.navbar
{
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    box-sizing: border-box;
    background-color: #262523;
}

a
{
    text-decoration: none;
}

.logo
{
    height: var(--navbar-line-height);
    margin-right: var(--navbar-padding-v);
    vertical-align: top;
}

.navbar .site-name
{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: mukta-bold, 'Times New Roman', Times, serif;
    color: white;
}

.navbar-items-wrapper 
{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: var(--navbar-padding-v);
    right: var(--navbar-padding-h);
    height: var(--navbar-line-height);
    padding-left: var(--navbar-padding-h);
    white-space: nowrap;
}

.navbar-items
{
    display: inline-block;
}

.navbar-items .navbar-iteam:first-child
{
    margin-left: 0;
}

.navbar-iteam 
{
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: var(--navbar-line-height);
}

.navbar-iteam > a
{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: mukta-light, 'Times New Roman', Times, serif;
    color: white;
}
/* End of Nav bar */


@media only screen and (max-width: 768px)
{
    .navbar-items-wrapper
    {
        position: absolute;
        display: none;
    }

    .site-name
    {
        display: none;
    }

    #modile-burger-nav
    {
        display: contents;
    }

}
